<form enctype="multipart/form-data" method="post" asp-controller="Upload" asp-action="Upload" class="mt-5">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" name="formFile">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>